/*底部*/
footer{
  width: 100%;
  height: 120px;
  background-color: #3f3f3f;
  margin-top: 20px;
  font-size: 0.8em;
}
footer p{
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 25px;
  padding-top: 20px;
  color: #999;
}
footer img{
  vertical-align: middle;
}