.header{
	.ant-dropdown-link{
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 22px 0;
		i{
			margin-left: 10px;
		}
	}
	.logo{
		display: block;
	    height: 100%;
	    float: left;
	    margin-left: 50px;
	    img{
	    	height: 100%;
	    }
	}
}